<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="testrun">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <!-- Optimize mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SunSpec Testrun</title>

    <!-- SCROLLS -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
      html 					{ overflow-y:scroll; }
      body 					{ padding-top:50px; }
      #testrun-list 				{ margin-bottom:30px; }
      #testrun-form 	 			{ margin-bottom:50px; }
    </style>

    <!-- SPELLS -->
    <!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

    <script src="js/controllers/main.js"></script> <!-- load our controller -->
    <script src="js/services/testruns.js"></script> <!-- load our testrun service -->
    <script src="js/services/testexecutor.js"></script> <!-- test executor service -->
    <script src="js/services/sendemail.js"></script> <!-- email sender service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
  <div class="container">

    <!-- HEADER AND COUNT -->
    <div class="text-center">
    <h3>Total Runs: ({{ testruns.length }})</h3>
    </div>

    <!-- TESTRUN LIST -->
    <div id="testrun-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

	<table class="table table-striped table-bordered">
	  <tr>
	    <th>Name</th><th>E-mail</th><th>Device</th><th>Time Started</th><th>Results</th>
	  </tr>
	<!-- LOOP OVER THE ITEMS IN $scope.testruns -->
	<tr ng-repeat="testrun in testruns">
	    <td>{{ testrun.userName }}</td>
	    <td>{{ testrun.userEmail }}</td>
	    <td>{{ testrun.deviceAddr }}</td>
	    <td>{{ testrun.testStartTime }}</td>
	    <td><a href="{{ testrun.resultsLink }}">link</td>
	    <td><button type="submit" class="btn btn-sm" ng-click="deleteTestrun(testrun._id)">Delete</button></td>
	  </tr>
	</table>
	
	<p class="text-center" ng-show="loading">
	  <span class="fa fa-spinner fa-spin fa-3x"></span>
	</p>
      </div>
    </div>

    <div class="text-center text-muted">
      <p><a href="index.html">Run A Test</a></p>
      <p><a href="http://www.sunspec.org">SunSpec</a></p>
    </div>
    
  </div>

</body>
</html>
